.logo-name {
  color: #36599d;
}
.about__banner {
  background: #fff8f6;
  padding: 180px 30px 80px;
  position: relative;
  color: #000;
  text-align: center;
}
.about__banner::before {
  background-image: url(../images/page-title.png);
  background-repeat: no-repeat;
  background-position: top center;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.about__banner-inner {
  width: 100%;
}
.about__banner-inner h1 {
  font-size: 52px;
  margin: 0 0 9px;
  font-weight: 700;
}
.about__banner-inner ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 600;
}
.about__banner-inner ul li {
  list-style: none;
  position: relative;
  margin: 0 0 0 20px;
  color: #212529;
  padding: 0 0 0 20px;
}
.about__banner-inner ul li:first-child {
  margin: 0;
  padding: 0;
}
.about__banner-inner ul li a {
  color: #212529;
  transition: 0.3s;
}
.about__banner-inner ul li a:hover {
  color: #cd3131;
}
.about__banner-inner ul li:last-child::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: #cd3131;
  left: 0;
  top: 0;
  border-radius: 50%;
  bottom: 0;
  margin: auto;
}
.about-focus {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  margin-top: 5rem;
}
.about-focus div {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.3s;
  cursor: pointer;
  background-color: #cd3131;
  color: #fff;
  height: 250px;
  border-radius: 10px;
}
.about-focus div:hover {
  transform: translateY(-5px);
  transition: ease-in 0.3s;
}
.about-focus div i {
  font-size: 28px;
}
.about-focus div svg {
  height: 50px;
  width: 50px;
  fill: #fff;
}
.about-focus div h2 {
  font-weight: 500;
}
.about-focus div p {
  font-size: 14px;
  font-weight: 500;
}
/* .about-focus div:hover {
  background-color: #cd3131;
  color: #fff;
} */
